body {
    background-color: #d6fae1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}
.banner-container {
    background-color: #0c3a30;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 15px 2% 15px 8%;
}
.banner-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.banner-left-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.banner-left-container a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-left: 15px;
}
.left-items {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter Tight', sans-serif;
}
.left-items i {
    margin-right: 10px;
    color: #9edd05;
}
.banner-right-container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 15px;
    padding-right: 150px;
}
.right-items {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter Tight', sans-serif;
    align-items: center;
    display: flex;
}
.right-items a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
.right-items img {
    width: 22px;
    height: 22px;
    padding-right: 10px;
}
.nav-bar-container {
    text-align: center;
    margin: 0%;
    padding: 2% 2% 0 2%;
}
.nav-bar-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 15px;
}
.nav-bar-left-container {
    padding-left: 7%;
    display: flex;
    gap: 25px;
    align-items: center;
}
.nav-bar-left-items a img {
    width: 100%;
    height: auto;
}
.nav-bar-center-container {
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar {
    font-weight: 500;
    font-size: 110%;
    color: #082720;
    padding-left: 20px;
}
.navbar:hover {
    color: #9edd05;
}
#home {
    color: #9edd05;
}
.nav-bar-right-container {
    padding-right: 8%;
    display: flex;
    gap: 25px;
    align-items: center;
}
.nav-bar-right-items {
    font-size: 15px;
    color: #082720;
    font-weight: 600;
}
.nav-bar-right-items a {
    text-decoration: none;
    color: #082720;
}
#get_started {
    background-color: #9edd05;
    color: #082720;
    padding: 18px 30px;
    border-radius: 8px;
}
.intro-container {
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 5% 12% 5% 7%;
}
.intro-contents {
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.intro-left-container {
    width: 45%;
}
.intro-left-items {
    font-size: 28px;
    font-weight: 700;
    color: #082720;
    line-height: 1.2;
}
.welcome {
    font-weight: 600;
    font-size: 22px;
}
.your {
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 16px;
}
h1 {
    margin-top: 0px;
}
.intro-right-container {
    width: 65%;
    text-align: top;
}
.proposal-container {
    font-size: 18px;
    color: #082720;
    line-height: 1.6;
}
.ui-rt-container {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 1rem 1rem 0;
}
.user-image-container {
    background-color: #ffffff;
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    margin-right: 4rem;
}
div .user-images {
    display: flex;
    align-items: center;
}
.user-images img{
    border-radius: 50%;
}
div #u-i-3 {
    margin-left: -10px;
}
div #u-i-1 {
    margin-left: -10px;
}
div #u-i-4 {
    margin-left: -10px;
    background-color: #9edd05;
    color: #082720;
    padding: 20px 16px;
    border-radius: 50%;
    font-weight: 600;
}
.rating-container {
    color: #082720;
}
.rating-stars {
    color: orange;
}
.rating-number {
    font-size: 1.5rem;
    font-weight: 600;
}

/* .box-container {
    margin-top: 40px;
    margin-left: 7%;
}
.box-items {
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-box-container {
    color: #082720;
    padding: 20px 30px;
    border-radius: 8px;
    font-weight: 600;
    width: 30%;
    text-align: center;
}
.left-top-container {
    background-color: #ffffff;
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.service-image {
    background-color: #81959e;
    align-items: center;
    padding: 1px;
    width: 80%;
    height: auto;
    
}
.service-image img {
    width: 50%;
    height: auto;
} */

.box {
    /* background-color: yellow; */
    margin: 0 10% 0 7%;
    display: flex;
    flex-wrap: wrap;
}
.box-container {
    width: 28%;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 7px 20px #555555;
}
.box-text {
    color: #082720;
}
#left-box-container {
    border-radius: 0;
    box-shadow: none;
    padding: 0px 0px 0px 0;
    text-align: start;
    align-items: center;
    align-content: center;
}
.left-top-container {
    padding: 40px 20px 0 20px;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 7px 20px #555555;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}
.grow-icon-area {
    background-color: #9edd05;
    border-radius: 50%;
    margin: 0 6px 0 0;
}
.left-top-container img {
    padding: 10px;
}
.grow-icon-text {
    font-size: 17px;
    font-weight: 580;
}
.service-image {
    position: relative;
    bottom: 10px;
}
.service-image img {
    width: 85%;
    height: 60%;
    margin-top: 100px;
    background-color: #d3e3e6;
    padding: 20px 20px 0 20px;
    border-radius: 10px 10px 0 0;
}
.left-bottom-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.pill {
    background-color: #d4d4d4;
    padding: 10px;
    border-radius: 30px;
    margin-right: 15px;
    animation: myAnimation 5s linear infinite;
    position: relative;
    /* box-shadow: 0 7px 20px #555555; */
}
@keyframes myAnimation {
    0% {right: 0%; }
    50% {right: 40%;}
    100% {right: 0%;}
}
#center-box {
    background-color: #9edd05;
    padding: 20px;
    text-align: center;
    margin: 0 29px 0 29px;
}
.center-top-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
}
.center-top-img {
    background-color: #082720;
    padding: 1rem;
    margin-right: 0 1.5rem 1rem 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.center-top-text {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}
.center-bottom-text {
    font-size: 1rem;
    font-weight: 450;
    color: #0c3a30;
    text-align: left;
    padding: 0 3%;
}
.center-img-container {
    padding: 20px 20px 0 20px;
    position: relative;
}
.c-img-item {
    position: relative;
    top: 1.5rem;
    left: 1.2rem;
}
@media (max-width: 1000px) {
    .c-img-item img {
        width: max(10rem);
    }
}
.img-item-text {
    background-color: #ffffff;
    padding: 2rem 2rem 2rem 1.5rem;
    border-radius: 10px;
    position: absolute;
    top: 210px;
    left: 60px;
    text-align: left;
}
.total-balance {
    font-weight: 600;
}
.img-item-cost {
    color: #082720;
    font-weight: 700;
    font-size: 21px;
}
@media (max-width: 1300px) {
    .box-container{
        width: 25%;
    }
}
#right-box {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}
.right-top-img {
    background-color: #9edd05;
    padding: 1rem;
    border-radius: 50%;
}
.right-top-container {
    display: flex;
    flex-wrap: nowrap;
}
.right-top-text {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 450;
}
.r-img-item-a {
    position: relative;
    top: 6rem;
    left: 1.5rem;
}
.r-img-item-b {
    position: absolute;
    top: -2rem;
}
.features-area {
    background-color: #082720;
    margin-top: 7rem;
}
.top-features-container {
    display: flex;
    flex-wrap: wrap;
}
.left-features-area-con {
    background-color: #9edd05;
    margin: 10rem 2rem 0 5rem;
    padding: 6% 6% 6% 3%;
    border-radius: 2rem;
    width: 33vw;
    height: auto;
    position: relative;
}
.left-f-a-img1 {
    width: 55%;
    position: relative;
    left: 10%;
}
.left-f-a-img1 img {
    width: 100%;
}
.left-f-a-img2 {
    width: 40%;
    position: absolute;
    bottom: 30%;
    left: 50%;
    animation: f-a-img2 0.8s linear 0.5s infinite alternate;
}
@keyframes f-a-img2 {
    0% {
        bottom: 32%;
    }
    100% {
        bottom: 30%;
    }
}
.left-f-a-img2 img{
    width: 100%;
}
.right-features-area-con {
    width: 40vw;
}
.rt-fa-con {
    margin: 20% 0;
    color: #ffffff;
}
#t-f-lightgreen {
    color: #9edd05;
    font-weight: 500;
    font-size: 1rem;
}
.rt-fa-con h1 {
    font-size: 2.7rem;
}
#wavyline {
    border-bottom: 0.3rem solid #9edd05;
}
.rb-fa-con {
    color: #ffffff;
}
.rb-fa-con ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.tf-box {
    background-color: #29594b;
    margin-bottom: 1rem;
    padding: 3%;
    border-radius: 1rem;
}
.tf-box span{
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}
@media (max-width: 965px) {
  /* Parent container */
  .top-features-container {
    flex-direction: column;
    width: 100%;
    align-items: center; /* Center children if needed */
  }

  /* Left features area */
  .left-features-area-con {
    width: 90% !important; /* Take up most of the width */
    margin: 2rem auto !important; /* Reduce large top/left margins */
    padding: 1rem !important;
  }

  /* Right features area */
  .right-features-area-con {
    width: 90% !important;
    margin: 1rem auto !important;
  }

  /* Images inside left container */
  .left-f-a-img1 {
    width: max(30dvw, 25%) !important; /* Stack images or scale them */
    position: relative !important; /* Bring absolute element back into flow if it overlaps content */
    left: 25% !important;
    top: 30% !important;
  }
}